# MPD USB
KERNEL=="sd[a-z]*", SUBSYSTEM=="block", SUBSYSTEMS=="usb", ACTION=="add", RUN+="systemctl start usb-mount@%k.service"
KERNEL=="sd[a-z]*", SUBSYSTEM=="block", SUBSYSTEMS=="usb", ACTION=="remove", RUN+="systemctl stop usb-mount@%k.service"
